.menu-container {
  width: 100px;
  height: 100%;
  background-color: #1d1c21;

  border: 1px solid #26252d;
  border-radius: 10px;
  .one-item {
    color: #c9c7d0;
    font-size: 1em;
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
    &.active {
      color: #04b17d;
    }
  }
  .special {
    margin: 30px 10px;
    line-height: 22px;
    font-size: 9px;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(95.44deg, #f3a32b 3.36%, #f35b2b 97.98%);
    border-radius: 8px;
  }
}
