.bookmark-container {
  color: #7b798f;
  font-size: 1em;
  .one-mark {
    float: left;
    .content {
      display: inline-block;
      max-width: 220px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .break {
      display: inline-block;
      overflow: hidden;
      padding: 0 15px;
    }

    &:last-of-type {
      color: #ffffff;
      .break {
        display: none;
      }
    }
  }
}
